.PokeCard {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: antiquewhite;
  color: rgb(99, 99, 99);
}
.PokeCard-name{
  font-size:25px;
  font-weight: 800;
  margin-bottom: 5px;

}
.Pokecard-img-holder{
  width: 80%;
  margin: 0 auto;
  height: 175px;
  padding-top: 10px;
}
.Pokecard-img {
  height: 150px;
  transition: all .2s ease

}
.Pokecard-img:hover{
  transform:scale(1.2);
}
p { 
  margin-bottom: 0;
  font-weight: 600;
}
.PokeCard-details{
  border-top: 2px solid #003A70;
  background-color: #FFCB05;
  border-radius: 0 0 10px 10px;
}
